build-*
*.pro.user
.DS_Store
release.info
bin/*
logs/*
experiments/*

*.swp
easyloggingpp.zip
releases/*

/samples/Qt/*-buildqt
/samples/STL/bin/*
/samples/Qt/build-qt*

/samples/Qt/*/logs/*
/samples/STL/logs/*

/tools/build-*

*~